body{
  font-family: Helvetica;
  text-align: center;
}

/*Header */
h1{
  background-image: url("./resources/images/the-flatiron-building.png");
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.jumpto{
  font-size: 18px;
  color:white;
}

/*Footer */
#footer{
  background-color: dimgray;
}
#copyrights{
  color: purple;
  font-size: 11px;
}

.link{
  color:green;
}
